<ion-content class="ion-no-padding ion-text-center">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <img src="/assets/medal.png" class="icon" />
            </ion-col>
            <ion-col size="12"><h1>Jetzt anmelden</h1></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input type="text" [(ngModel)]="user.email" (keyup)="onChange()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="stacked">Passwort</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" (keyup)="onChange()" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" [disabled]="loginButtonDisabled" (click)="doLogin()">
                    Login
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" fill="outline" color="medium" (click)="gotoRegister()">
                    Registrieren
                    <ion-icon slot="end" name="arrow-forward"> </ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
