swiper {
    height: 100%;
    .third-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .first {
        background-color: red !important;
    }
    .second {
        background-color: yellow !important;
    }
    .third {
        background-color: green !important;
    }
}
