ion-slide {
    display: block;
}
ion-slides {
    height: 100%;
    h1 {
        padding-top: 200px;
        padding-bottom: 50px;
    }
}

.first {
    background-color: #cccccc; /* TODO: Farbe anpassen -> Wie im Prototyp */
}
.second {
    background-color: #cccccc; /* TODO: Farbe anpassen -> Wie im Prototyp */
}
.third {
    background-color: #cccccc; /* TODO: Farbe anpassen -> Wie im Prototyp */
}
