swiper {
    height: 100%;
    .third-container {
        display: flex !important;
        flex-direction: column !important;
    }
    ion-slide:nth-child(1) {
        background-color: red !important;
    }
    ion-slide:nth-child(2) {
        background-color: yellow !important;
    }
    ion-slide:nth-child(3) {
        background-color: green !important;
    }
}
