.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: 80vh;

    h1 {
        font-size: 2rem;
        align-self: center;
    }

    h2 {
        font-size: 1rem;
        align-self: center;
    }
}

.row {
    display: flex;
    justify-content: center;
    padding: 2em;

    ion-button {
        width: 100%;
        max-width: 400px;
    }
}